body {
   font-family: sans-serif;
}
handstand-container {
   border-color: silver;
   border-style: solid;
   border-width: 0.01em;
   border-radius: 0;
}
handstand-container {
   transition: 1s ease;
}
handstand-container > * {
   transition: 1s ease;
}
handstand-container[state='opened'] {
   background-color: none;
}
handstand-container[state='opened'] > * {
   opacity: 1;
}
handstand-container[state='closed'] {
   background-color: #f5f5f5;
}
handstand-container[state='closed'] > * {
   opacity: 0;
}
handstand-textinput > input {
   border-color: silver;
   border-style: solid;
   border-width: 0.01em;
   border-radius: 0;
}
handstand-textinput:focus {
   outline: none;
}
handstand-maskedinput > input {
   border-color: silver;
   border-style: solid;
   border-width: 0.01em;
   border-radius: 0;
}
handstand-maskedinput:focus {
   outline: none;
}
handstand-switch > div:first-child > label:before {
   background: lightgreen;
}
handstand-switch > div:first-child > input:checked + label:before {
   background: lightgreen;
}
handstand-switch > div:first-child > label:after {
   background: white;
}
handstand-list > ul:first-child {
   list-style-type: circle;
}