handstand-switch > div:first-child {
   opacity: inherit;
}
handstand-switch > div:first-child > input {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}
handstand-switch > div:first-child > label {
    border-radius: 2em;
    box-shadow: inset 0 0 0px 0.04em silver;
    display: block;
    position: relative;
    width: 2.4em;
    height: 1em;
}
handstand-switch > div:first-child > label:before {
    border-radius: inherit;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    width: 1.75em;
}
handstand-switch > div:first-child > input:checked + label:before {
    width: 2em;
}
handstand-switch > div:first-child > label:after {
    border-radius: inherit;
    box-shadow: inset 0 0 0 0.03em rgba(0, 0, 0, .1), 0 0.20em 0.50em rgba(0, 0, 0, .3);
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    width: 1.75em;
}
handstand-switch > div:first-child > input:checked + label:after {
    box-shadow: inset 0 0 0 0.10em silver 0.40em 0.50em rgba(0, 0, 0, .1);
    left: 0.8em;
}