mutable-label > handstand-label {
    width: inherit;
    height: inherit;
}
mutable-label > handstand-textarea {
    width: inherit;
    height: inherit;
}
mutable-label > handstand-textarea > textarea {
    border: 0;
    width: initial;
    height: inherit;
    font-size: inherit;
    font-family: inherit;
}
mutable-label > handstand-textarea > textarea:focus {
   outline: inherit;
}
mutable-label {
   display: inline-block;
   padding: 1em;
   margin: 1em;
   border-color: darkgray;
   border-style: solid;
   border-width: 0.05em;
   border-radius: 0.3em;
}
mutable-label > handstand-label {
}
mutable-label > handstand-textarea {
}
mutable-label > handstand-textarea > textarea {
    height: 1em;
    border-color: silver;
    border-style: solid;
    border-width: 0.01em;
    line-height: 0.8em;
    padding: 1em;
}