body {
   font-family: sans-serif;
}
handstand-container {
   padding: 0.5em;
   background-color: white;
}
handstand-label {
   width: 5em;
   font-size: 0.89em;
   background-color: white;
}
handstand-button > handstand-label {
   background-color: white;
}
handstand-button {
   background-color: white;
   border-color: white;
   border-radius: 0;
   padding: 0;
}
handstand-text-input > input {
   border-color: white;
   border-style: solid;
   border-width: 0;
   border-radius: 0;
}
handstand-text-input:focus {
   outline: none;
}
handstand-masked-input > input {
   border-color: white;
   border-style: solid;
   border-width: 0;
   border-radius: 0;
}
handstand-masked-input:focus {
   outline: none;
}
handstand-switch > div:first-child > label:before {
   background: lightgreen;
}
handstand-switch > div:first-child > input:checked + label:before {
   background: lightgreen;
}
handstand-switch > div:first-child > label:after {
   background: white;
}