body {
font-family: 'Berkshire Swash', cursive;
    overflow: hidden;
    background: rgb(254, 255, 252);
}
handstand-container {
    border: none !important;
}
.vert-text {
    transform: rotate(-90deg);
    transform-origin: left top 0;
    float: left;
    top: 95%;
    font-size: 4em;
    position: absolute;
    transition: all .5s ease-in-out;
    padding-left: 0.25em;
}
.vert-text div {
    display: block;
    cursor: pointer;
    transition: all .5s ease-in-out;
    transform: scale(1);
}
#grass {
    z-index: 9000;
    width: 100%;
    background: green;
    background: linear-gradient(-45deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
    position: absolute;
    height: 30px;
    left: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    bottom: 0px;
}
#webmonkey {
    transform: rotate(4deg);
    position: absolute;
    bottom: 0px;
    left: 100px;
}
#links {
    position: absolute;
    font-size: 2em;
    bottom: 200px;;
    left: 640px;
}
#links a {
    padding: 0.5em;
    display: block;
    color: royalblue;
    font-size: xx-large;
    text-decoration: none;
    transform: scale(1);
}
#links a:hover {
    transform: scale(1.25);
}
