handstand-container {
	display: block;
}
handstand-container {
   border-color: silver;
   border-style: solid;
   border-width: 0.05em;
   border-radius: 0.1em;
}
handstand-container {
   transition: 1s ease;
}
handstand-container[open='true'] {
   background-color: white;
}
handstand-container[open='true'] > * {
   opacity: 1;
}
handstand-container[open='false'] {
   background-color: #f5f5f5;
}
handstand-container[open='false'] > * {
   opacity: 0;
}